# CMake build directories
/build/
/out/
/bin/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake
CMakeOutput.log
CMakeError.log

# VS specific
*.vcxproj*
*.sln
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.idb
*.vs
*.ilk
*.log
*.vs/
*.ncb

# Ninja build logs
*.ninja_log
*.ninja_deps

# CTest
Testing/
